<mat-sidenav-container class="sidenav-container">
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <span fxShow.xs="false">POKÉDEX</span>
      <div fxLayout="row" fxLayoutAlign="center center" fxFlexFill fxShow="false" fxShow.xs="true">
        <span>POKÉDEX</span>
      </div>
      <span class="example-spacer"></span>
      <span fxShow.xs="false" fxShow.sm="false">ANGULAR+MATERIAL+POKÉ API</span>
    </mat-toolbar>
    <!-- Add Content Here -->
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
